@page "/caesar"
@using Useful.Security.Cryptography.UI.ViewModels;

<h1>@cipher.CipherName Cipher</h1>

<div class="cipher_container">
    <Cipher CipherVM=cipher />

    <div class="cipher_row">
        <div>Shift</div>
        <select @bind="cipher.SelectedShift">
            @foreach (int shift in cipher.Shifts)
            {
                <option value="@shift">@shift</option>
            }
        </select>
    </div>
    <div class="cipher_row">
        <div><button class=" btn btn-primary" @onclick="cipher.Defaults">Defaults</button></div>
        <div>
            <button class=" btn btn-primary" @onclick="cipher.Randomize">Randomise</button>
        </div>
        <div>
            <button class=" btn btn-primary" @onclick="cipher.Crack">Crack</button>
        </div>
    </div>
    @foreach (var crack in cipher.Cracks)
    {
        <div class="cipher_row">
            <div>@crack.Key</div><div>@crack.Value</div>
        </div>
    }
</div>

@code {
    CaesarViewModel cipher = new();
}