@page "/enigma"
@using Useful.Security.Cryptography.UI.ViewModels;

<h1>@cipher.CipherName Cipher</h1>

<table class="table">
    <tr>
        <td><label>Plaintext</label></td>
        <td><label>Ciphertext</label></td>
    </tr>
    <tr>
        <td><input @bind="cipher.Plaintext" /></td>
        <td><input @bind="cipher.Ciphertext" /></td>
    </tr>
    <tr>
        <td>
            <label>Reflector</label>
            <select @bind="cipher.SelectedReflector">
                @foreach (string reflector in cipher.Reflectors)
                {
                    <option value="@reflector">@reflector</option>
                }
            </select>
        </td>
        <td />
    </tr>
    <tr>
        <td colspan="2">
            <table class="table">
                <tr>
                    <td>
                        <label>Rotor Position</label>
                    </td>
                    @foreach (string position in cipher.RotorPositions)
                    {
                        <td>
                            <label>@position</label>
                        </td>
                    }
                </tr>
                <tr>
                    <td>
                        <label>Rotor</label>
                    </td>
                    @foreach (string position in cipher.RotorPositions)
                    {
                        <td>
                            <select id=@position @bind="cipher.SelectedRotors[position]">
                                @foreach (string rotor in cipher.Rotors)
                                {
                                    <option value="@rotor">@rotor</option>
                                }
                            </select>
                        </td>
                    }
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <button class=" btn btn-primary" @onclick="cipher.Randomize">Randomise</button>
        </td>
        <td />
    </tr>
    <tr>
        <td>
            <button class=" btn btn-primary" @onclick="cipher.Encrypt">Encrypt</button>
        </td>
        <td>
            <button class="btn btn-primary" @onclick="cipher.Decrypt">Decrypt</button>
        </td>
    </tr>
</table>

@code {
    EnigmaViewModel cipher = new();
}