@page "/enigma"
@using Useful.Security.Cryptography.UI.ViewModels;

<h1>@cipher.CipherName Cipher</h1>

<div class="cipher_container">
    <Cipher CipherVM=cipher />

    <div class="cipher_row">
        <div class="cipher_quarter_width">Reflector</div>
        <div class="cipher_quarter_width">
            <select @bind="cipher.ReflectorNumber">

                @foreach (string reflector in cipher.Reflectors)
                {

                    <option value="@reflector">@reflector</option>

                }
            </select>
        </div>
    </div>
    <div class="cipher_row">
        <div class="cipher_quarter_width">Rotor Position</div>
        @foreach (string position in cipher.RotorPositions)
        {
            <div class="cipher_quarter_width">@position</div>
        }
    </div>
    <div class="cipher_row">
        <div class="cipher_quarter_width">Rotor</div>
        @foreach (string position in cipher.RotorPositions)
        {
            <div class="cipher_quarter_width">
                <select id="rotor_@position" @bind="cipher.RotorNumber[position]">
                    @foreach (string rotor in cipher.RotorNumbers)
                    {
                        <option value="@rotor">@rotor</option>
                    }
                </select>
            </div>
        }
    </div>
    <div class="cipher_row">
        <div class="cipher_quarter_width">Ring</div>
        @foreach (string position in cipher.RotorPositions)
        {
            <div class="cipher_quarter_width">
                <select id="ring_@position" @bind="cipher.RingPosition[position]">
                    @foreach (int ring in cipher.RingPositions)
                    {
                        <option value="@ring">@ring</option>
                    }
                </select>
            </div>
        }
    </div>
    <div class="cipher_row">
        <div class="cipher_quarter_width">Setting</div>
        @foreach (string position in cipher.RotorPositions)
        {
            <div class="cipher_quarter_width">
                <select id="setting_@position" @bind="cipher.RotorSetting[position]">
                    @foreach (char setting in cipher.RotorSettings)
                    {
                        <option value="@setting">@setting</option>
                    }
                </select>
            </div>
        }
    </div>
    <div class="cipher_row">
        <div><button class=" btn btn-primary" @onclick="cipher.Defaults">Defaults</button></div>
        <div>
            <button class=" btn btn-primary" @onclick="cipher.Randomize">Randomise</button>
        </div>
    </div>
</div>

@code {
    EnigmaViewModel cipher = new();
}