@model Useful.UI.Models.CipherModel
@inject Useful.UI.Services.CipherService CipherService
<h2>Cryptography</h2>
<form method="post" class="form-group">
    <fieldset>
        <div class="row">
            <div class="col-md-4">
                <label for="CurrentCipherName">Cipher</label>
            </div>
            <div class="col-md-4">
                @Html.DropDownList("CurrentCipherName", new SelectList(@CipherService.Repository.Read(), @CipherService.Repository.CurrentItem.CipherName), new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label for="Plaintext">Plaintext</label>
            </div>
            <div class="col-md-4">
                <label for="Ciphertext">Ciphertext</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <input type="text" id="Plaintext" name="Plaintext" class="form-control" value="@Model.Plaintext" />
            </div>
            <div class="col-md-4">
                <input type="text" id="Ciphertext" name="Ciphertext" class="form-control" value="@Model.Ciphertext" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <input type="submit" id="EncryptCommand" name="EncryptCommand" class="btn btn-default" value="Encrypt" />
            </div>
            <div class="col-md-4">
                <input type="submit" id="DecryptCommand" name="DecryptCommand" class="btn btn-default" value="Decrypt" />
            </div>
        </div>
    </fieldset>
</form>